{% extends 'base.html' %} {% block content %}
<div class="d-block rounded mb-3">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-primary text-white">User Details</div>
        <div class="card-body">
          <div class="mb-3">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" id="firstName" class="form-control" value="{{ user.first_name }}" readonly />
          </div>
          <div class="mb-3">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" id="lastName" class="form-control" value="{{ user.last_name }}" readonly />
          </div>
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" id="username" class="form-control" value="{{ user.username }}" readonly />
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" class="form-control" value="{{ user.email }}" readonly />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
