<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learning Platform</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
  </head>

  <body class="container-fluid bg-main">
    <main class="container" style="max-width: 85% !important;">
      <header class="border-bottom">
        <div class="row justify-content-between px-4 py-4">
          <div class="col-4">
            <div class="d-block">
              <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="Logo" height="55" />
            </div>
          </div>
          <div class="col-4">
            <div class="d-block">
              <input type="text" placeholder="Search Everything..." class="form-control bg-main p-3" />
            </div>
          </div>
          <div class="col-4">
            <div class="d-flex align-items-center justify-content-end">
              <div class="d-block me-4">
                <img
                  src="{{ url_for('static', filename='images/notification-icon.svg') }}"
                  class="img-fluid"
                  alt="Notification icon"
                />
              </div>
              <div class="d-flex align-items-center">
                <a href="{{ url_for('auth.user') }}">
                  <img
                    src="{{ url_for('static', filename='images/user-icon.png') }}"
                    class="img-fluid"
                    alt="User Profile"
                  />
                </a>
                <a href="{{ url_for('auth.logout') }}" class="ms-3 lead link-danger fw-bold">Logout</a>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="row">
        <div class="col-3 border-end vh-100">
          <div class="d-block py-5">{% include 'layout/nav.html' %}</div>
        </div>
        <div class="col">
          <div class="d-block py-5">
            {% for message in get_flashed_messages() %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% block content %}{% endblock %}
          </div>
        </div>
      </div>
    </main>

    <script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
  </body>
</html>
