{% extends 'base.html' %} {% block content %}
<style>
  .chat-messages {
    height: 65vh;
    overflow-y: auto;
  }
  /* Align sender messages to the right */
  .sender-message {
    max-width: 55%;
  }
  /* Align receiver messages to the left */
  .receiver-message {
    max-width: 55%;
  }
</style>
<style>
  .loader {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 32px 0 #fff, -32px 0 #fff;
    position: relative;
    animation: flash 0.5s ease-out infinite alternate;
  }

  @keyframes flash {
    0% {
      background-color: #fff2;
      box-shadow: 32px 0 #fff2, -32px 0 #fff;
    }
    50% {
      background-color: #fff;
      box-shadow: 32px 0 #fff2, -32px 0 #fff2;
    }
    100% {
      background-color: #fff2;
      box-shadow: 32px 0 #fff, -32px 0 #fff2;
    }
  }
</style>
<!-- <div class="d-block">
  <h1 class="fs-2">General Learning Chat</h1>
  <small class="text-secondary">...</small>
</div> -->
<div class="container">
  {% if course %}
  <div class="d-block">
    <h1 class="fs-2">{{ course.title }} Lessons</h1>
    <p class="text-secondary">Description: {{ course.description }}</p>
    <p class="text-secondary">Instructor: {{ course.instructor }}</p>
  </div>
  {% endif %}
  <div class="card bg-main">
    <div class="card-header bg-primary text-white">
      {% if course %}
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
          <a class="nav-link chat_assistant" href="#" onclick="chatType('assistant')">AI Assistant</a>
        </li>
        <li class="nav-item">
          <a class="nav-link chat_instructor" href="#" onclick="chatType('instructor')">Instructor</a>
        </li>
      </ul>
      {% else %}
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
          <a class="nav-link chat_assistant active" href="#">AI Assistant</a>
        </li>
        <li class="nav-item d-none">
          <a class="nav-link chat_instructor" href="#">AI Assistant</a>
        </li>
      </ul>
      {% endif %}
    </div>
    <div class="card-body chat-messages">
      <!-- Messages will be displayed here -->
      <!-- <div class="media sender-message w-auto d-flex justify-content-end ms-auto">
        <div class="media-body">
          <h5 class="mt-0 small text-end">Kojo</h5>
          <p class="bg-secondary p-3 rounded">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </div>
      <div class="media receiver-message w-auto d-flex">
        <div class="media-body">
          <h5 class="mt-0 small">AI Assistant</h5>
          <p class="bg-light text-dark p-3 rounded">
            Exercitationem nemo autem odit consectetur. Porro, id! Dicta ut saepe autem molestiae ducimus! Fugit nam
            incidunt velit quidem ratione, voluptates soluta unde?
          </p>
        </div>
      </div> -->
      {% if intro %}
      <div class="media receiver-message w-auto d-flex">
        <div class="media-body">
          <h5 class="mt-0 small">AI Assistant</h5>
          <p class="bg-light text-dark p-3 rounded">{{ intro }}</p>
        </div>
      </div>
      {% endif %}
      {% if course_suggestions %}
      <div class="media receiver-message w-auto d-flex">
        <div class="media-body">
          <h5 class="mt-0 small">AI Assistant</h5>
          <p class="bg-light text-dark p-3 rounded">{{ course_suggestions }}</p>
        </div>
      </div>
      {% endif %}
    </div>
    <div class="card-footer">
      <form id="messageForm" method="post">
        <div class="input-group">
          <input type="text" name="message" class="form-control messageInput" placeholder="Type your message..." />
          <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Send</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  var selectedChat = 'assistant';
  document.querySelector('.chat_assistant').classList.add('active', 'fw-bold');
  document.querySelector('.chat_instructor').classList.remove('active', 'fw-bold');

  function chatType(type) {
    selectedChat = type;
    if (type == 'assistant') {
      document.querySelector('.chat_instructor').classList.remove('active', 'fw-bold');
      document.querySelector('.chat_' + type).classList.add('active', 'fw-bold');
      return
    }
    document.querySelector('.chat_assistant').classList.remove('active', 'fw-bold');
    document.querySelector('.chat_' + type).classList.add('active', 'fw-bold');
  }
  document.querySelector('#messageForm').addEventListener('submit', function (event) {
    event.preventDefault();
    let message = document.querySelector('.messageInput').value;
    var chatMessages = document.querySelector('.chat-messages');
    var senderMessage = document.createElement('div');
    senderMessage.classList.add('media', 'sender-message', 'w-auto', 'd-flex', 'justify-content-end', 'ms-auto');
    senderMessage.innerHTML = `
        <div class="media-body">
          <h5 class="mt-0 small text-end">Me</h5>
          <p class="bg-secondary p-3 rounded">${message}</p>
        </div>
        `;
    chatMessages.appendChild(senderMessage);
    // Clear message input
    document.querySelector('.messageInput').value = '';
    fetch('/chat/message', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ 
        message: message, 
        type: selectedChat,
        course: "{% if course %}{{ course.title }}{% endif %}"
      })
    })
      .then((response) => response.json())
      .then((data) => {
        console.log(data);
        // Output result into the receiver-message section
        var receiverMessage = document.createElement('div');
        receiverMessage.classList.add('media', 'receiver-message');
        receiverMessage.innerHTML = `
          <div class="media-body">
            <h5 class="mt-0 small">${selectedChat == 'assistant' ? 'AI Assistant' : 'Instructor' }</h5>
            <p class="bg-light text-dark p-3 rounded">
              ${data.message.message || data.message}
            </p>
          </div>
        `;
        chatMessages.appendChild(receiverMessage);
      })
      .catch((error) => console.error('Error:', error));
  });
</script>
{% endblock %}
