{% extends 'base.html' %}

{% block content %}
<div class="d-block">
  <h1 class="fs-2">Good Evening, Jerry !</h1>
  <small class="text-secondary">Welcome back to learning...</small>
</div>
<div class="row">
  <div class="col">
    <div class="card bg-main-secondary mb-3">
      <div class="card-body text-center">
        <h5 class="card-title">100</h5>
        <p class="card-text small">Total Courses</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card bg-main-secondary mb-3">
      <div class="card-body text-center">
        <h5 class="card-title">100</h5>
        <p class="card-text small">Total Courses</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card bg-main-secondary mb-3">
      <div class="card-body text-center">
        <h5 class="card-title">100</h5>
        <p class="card-text small">Total Courses</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card bg-main-secondary mb-3">
      <div class="card-body text-center">
        <h5 class="card-title">100</h5>
        <p class="card-text small">Total Courses</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
